.editorWrapper{
    width: 100%;
    height: 100%;
    position: relative;
}

.tabTitleContainer{
    height: 40px;
    display:flex;
    position: relative;
    line-height:40px;
}
.tabTitle{
    flex-grow:1;
    text-align: center;
    color: #FFF;
    background-color: #0EFF26;
    cursor: pointer;

}
.active{
    color: #FFF;
    background-color: #FF260E;
}
.tabItemContainer{
    position: absolute;
    margin-top:40px;
    width:100%;
    top: 0;
    height:calc(100% - 40px);

}
.tabItem{
    height: 100%;
    width: 100%;
    text-align: center;
    color: #FFF;
    display: none;
}
.tabItem:nth-of-type(1){
    background-color: #FF660E;
}
.tabItem:nth-of-type(2){
    background-color: #FF0E52;
}
.tabItem:nth-of-type(3){
    background-color: #07D739;
}
.show{
    display: block;
}

