<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <title><%= title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel='stylesheet' href='/src/pages/index.css' />
  </head>
  <body>
    <div id="body-wrapper"></div>
    <script src='http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js'></script>
    <script src='http://cdn.staticfile.org/webuploader/0.1.0/webuploader.html5only.min.js'></script>
  <script src="/dist/bundle.js"></script>

  </body>
</html>
